In [1]:
#Que1
def diff(n):
    if n > 17:
        return 2 * abs(n- 17)
    else:
        return 17 - n

n = int(input("Enter a number: "))
result = diff(n)
print(f"The result is: {result}")

Enter a number: 4
The result is: 13

In [2]:
#Que2
def check(n):
  if n>=100 and n<=1000 or n==2000:
    return 1
  else:
    return 0

n=int(input("Enter a number : "))
result=check(n)
if result:
    print(f"{n} is within the range 100 to 1000 or it is 2000.")
else:
    print(f"{n} is not within the range 100 to 1000 or 2000.")

Enter a number : 30
30 is not within the range 100 to 1000 or 2000.

In [3]:
#Que3
def rev(s):
    return s[::-1]

str= input("Enter a string: ")
rev_string = rev(str)
print(f"The reversed string is: {rev_string}")

Enter a string: sukhmani
The reversed string is: inamhkus

In [4]:
#Que4
def count(str):
    upper = 0
    lower = 0

    for letter in str:
        if letter.isupper():
            upper += 1
        elif letter.islower():
            lower += 1

    return upper, lower

str = input("Enter a string: ")
upper, lower = count(str)

print(f"Uppercase letters: {upper}")
print(f"Lowercase letters: {lower}")

Enter a string: sUkhmani
Uppercase letters: 1
Lowercase letters: 7

In [5]:
#Que5
def List(num):
    return list(set(num))

Lis= [2,4,6,8,10,100,63,34]
distinctlist =List(Lis)

print("Original list:", Lis)
print("List with distinct elements:", distinctlist)

Original list: [2, 4, 6, 8, 10, 100, 63, 34]
List with distinct elements: [2, 34, 4, 100, 6, 8, 10, 63]

In [6]:
#Que6
def even(Lis):
    even = [n for n in Lis if n % 2 == 0]
    return even
Lis= [10,9,8,7,6,5,4,3,2,1]
result = even(Lis)

print(f"Even numbers: {result}")

Even numbers: [10, 8, 6, 4, 2]

In [7]:
#Que7
def outer(text):
    def inner():
        print(f"Hello {text}")

    inner()

outer("World")

Hello World

In [9]:
#Que8
def student(Name, Age, Grade):
    student.Name = Name
    student.Age = Age
    student.Grade = Grade

    for attribute in student.__dict__:
        print(f"{attribute} : {getattr(student, attribute)}")

student("Sukhmani Kaur",19,"2nd year")

Name : Sukhmani Kaur
Age : 19
Grade : 2nd year

In [10]:
#Que9
class Student:
    def __init__(self, student_id, student_name):
        self.student_id = student_id
        self.student_name = student_name
        self.student_class = None

    def set_student_class(self, student_class):
        self.student_class = student_class

    def display_attributes(self):

        print(f"Student ID: {self.student_id}")
        print(f"Student Name: {self.student_name}")
        print(f"Student Class: {self.student_class}")


student1 = Student(102323051, "Sukhmani Kaur")
student1.set_student_class(" 2nd Year")
student1.display_attributes()

Student ID: 102323051
Student Name: Sukhmani Kaur
Student Class:  2nd Year

In [15]:
class Student:
    def __init__(self, student_id, student_name, student_class):
        self.student_id = student_id
        self.student_name = student_name
        self.student_class = student_class

    def display_attributes(self):
        print(f"Student ID: {self.student_id}")
        print(f"Student Name: {self.student_name}")
        print(f"Student Class: {self.student_class}")

student1 = Student(1, "Sukhmani Kaur", "Second Year")
student2 = Student(2, "Lavanya", "first Year")

#student1
print("Attributes of student 1:")
student1.display_attributes()
print()

#student2
print("Attributes of student 2:")
student2.display_attributes()

Attributes of student 1:
Student ID: 1
Student Name: Sukhmani Kaur
Student Class: Second Year

Attributes of student 2:
Student ID: 2
Student Name: Lavanya
Student Class: first Year

In [13]:
#11
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * (self.radius ** 2)

    def perimeter(self):
        return 2 * math.pi * self.radius

circle = Circle(3)

print(f"Area of the circle: {circle.area()}")
print(f"Perimeter of the circle: {circle.perimeter()}")

Area of the circle: 28.274333882308138
Perimeter of the circle: 18.84955592153876

In [ ]:
#12
class string_in_upper_case:
    def __init__(self):
        self.text = ""

    def get_String(self):
        self.text = input("Enter a string: ")

    def print_String(self):
        print(self.text.upper())

string_in_upper_case = string_in_upper_case()
string_in_upper_case.get_String()
string_in_upper_case.print_String()