In [2]:
#Que1(i)
List=[11,12,13,14]
print(f"Original list is :{List}")
List.append(50)
List.append(60)
print(f"list is :{List}")

Original list is as follows :[11, 12, 13, 14]
list is as follows :[11, 12, 13, 14, 50, 60]

In [3]:
#Que1(ii)
L=[11,12,13,14]
print(f"Original list is  :{L}")
L.remove(11)
L.remove(13)
print(f" list :{L}")

Original list is  :[11, 12, 13, 14]
 list :[12, 14]

In [4]:
# Que1(iii)
L=[12,11,14,13]
print(f"Original list is:{L}")
L.sort()
print(f"list is  :{L}")

Original list is:[12, 11, 14, 13]
list is  :[11, 12, 13, 14]

In [5]:
#Que1(iv)
print(f"Original list iss :{L}")
L.reverse()
print(f"list is :{L}")

Original list iss :[11, 12, 13, 14]
list is :[14, 13, 12, 11]

In [6]:
#Que1(v)
L=[11,12,13,14]
print(f"Original list is:{L}")
i=12
if i in L:
    print(f"{i} is present ")
else:
    print(f"{i} is not present")

Original list is:[11, 12, 13, 14]
12 is present

In [7]:
#Que1(vi)
L=[11,12,13,14]
print(f"Original list is:{L}")
print(f"length of list is {len(L)}")

Original list is:[11, 12, 13, 14]
length of list is 4

In [8]:
#Que1(vii)
L=[11,12,13,14]
print(f"Original list is:{L}")
total=0
for num in L:
    total+=num
print("The sum of numbers in L list is :",total)

Original list is:[11, 12, 13, 14]
The sum of numbers in L list is : 50

In [9]:
#Que1(viii)
L=[11,12,13,14]
print(f"Original list is :{L}")
total=0
for num in L:
    if num%2!=0:
        total+=num
print("Sum of odd number :",total)

Original list is :[11, 12, 13, 14]
Sum of odd number : 24

In [10]:
#Q1(ix)
L=[11,12,13,14]
print(L)
total=0
for num in L:
    if num%2!=0:
        total+=num
print(f"The sum of even numbers in list is {total}")

[11, 12, 13, 14]
The sum of even numbers in list is 24

In [11]:
#Que1(x)
def is_prime(num):

    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_of_primes(lst):
    prime_sum = 0
    for num in lst:
        if is_prime(num):
            prime_sum += num
    return prime_sum

L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
result = sum_of_primes(L)
print("Sum of prime numbers in the list:", result)

Sum of prime numbers in the list: 28

In [12]:
#Que1(xi)
L=[11,12,13,14]
print(f"Orginal list is: {L}")
L.clear()
print(f" list is :{L}")

Orginal list is: [11, 12, 13, 14]
 list is :[]

In [15]:
#Que1(xii)
L=[11,12,13,14]
print(f"Orginal list is: {L}")
del L

Orginal list is: [11, 12, 13, 14]

In [16]:
#Que2
l=[11,12,13,14]
total=0
for num in l:
    total+=num
print(f"The sum of numbers in list is: {total}")

The sum of numbers in list is: 50

In [17]:
#Que3
l=[13,15,14,16]
total=1
for num in l:
    total*=num
print(f"The multiplication of all the elements in the list is :{total}")

The multiplication of all the elements in the list is :43680

In [18]:
#Que5
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(f"Updated dictionary is :{D}")


D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D.pop(2)
print(f"Updated dictionary is :{D}")

print("Previous disctionary is : ",D)
key=6
if key in D:
    print(f"6{key} is present")
else:
    print("6 key is not present")

D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
len(D)
print("Length of the dictionary is :",len(D))

D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[3]=7.1
print("value of key 3 is : ",D)

D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D.clear()
print("After clearing the dictionary :",D)

Updated dictionary is :{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Updated dictionary is :{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}
Previous disctionary is :  {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}
6 key is not present
Length of the dictionary is : 5
value of key 3 is :  {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}
After clearing the dictionary : {}

In [19]:
#Q6
S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80,90]
S1.append(55)
S1.append(66)
print("Updated S1 list is :",S1)

S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80,90]
S1.remove(10)
S1.remove(30)
print("Updated S1 list is :",S1)

S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80,90]
NUM=40
if NUM in S1:
    print(f"{NUM} is present in List S1")
else:
    print(f" {NUM} is not present in List S1")

union=list(set(S1)|set(S2))
print("Union of S1 and S2 :",union)

intersection=list(set(S1)&set(S2))
print("(v) Intersection of S1 and S2 :",intersection)

difference=list(set(S1)-set(S2))
print("(vi) Difference of S1 and S2 :",difference)

Updated S1 list is : [10, 20, 30, 40, 50, 60, 55, 66]
Updated S1 list is : [20, 40, 50, 60]
40 is present in List S1
Union of S1 and S2 : [70, 40, 10, 80, 50, 20, 90, 60, 30]
(v) Intersection of S1 and S2 : [40, 50, 60]
(vi) Difference of S1 and S2 : [10, 20, 30]

In [20]:
#Que7
for num in range(600,801):
    if num>1:
        for i in range(2,int(num**0.5)+1):
          if num%i==0:
              break
        else:
            print(num,end=",")

for num in range(100,1001):
    if num%7==0 and num%9==0:

        print(num,end=" ")

601,607,613,617,619,631,641,643,647,653,659,661,673,677,683,691,701,709,719,727,733,739,743,751,757,761,769,773,787,797,126 189 252 315 378 441 504 567 630 693 756 819 882 945

In [22]:
#Que8
exam = (23, 9, 2024)

print(f"The examination date is: {exam[0]}/{exam[1]}/{exam[2]}")

The examination date is: 23/9/2024

In [23]:
#Que9
numbers = [6, 10, 45, 60, 75, 3, 55, 715, 10090]
for number in numbers:
    if number % 5 == 0:
        print(number,end=" ")

10 45 60 75 55 715 10090

In [24]:
#Que10
a=int(input("Enter a number : "))
even=a%2==0
if (even==True):
    print("even")
else:
    print("odd")

Enter a number : 50
even

In [25]:
#Que11
string = "Thapar is one of the best university.Thapar has a good infrastructure"
count = string.count("Thapar")

print(f"The substring 'Thapar' appears {count} times in the given string.")

The substring 'Thapar' appears 2 times in the given string.