In [1]:
#Que1
print('"Twinkle, twinkle, little star,\n\t How I wonder what you are!\n\t\t Up above the world so high,\n\t\t\t Like a diamond in the sky.\n\t\t\t\t Twinkle, twinkle, little star,\n\t\t\t\t\t How I wonder what you are"')

"Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
			 Like a diamond in the sky.
				 Twinkle, twinkle, little star,
					 How I wonder what you are"

In [2]:
#Que2
f = input("Enter your first name: ")
l= input("Enter your last name: ")
print(l + " " + f)

Enter your first name: sukhmani
Enter your last name: kaur
kaur sukhmani

In [3]:
#Que3
r=float(input("Enter the value of radius of circle : "))
area=(3.14)*(r**2)
print("Area of circle is : ",area)

Enter the value of radius of circle : 5.0
Area of circle is :  78.5

In [4]:
#Que4
c=["Red","Green","White" ,"Black"]
f=c[0]
l=c[3]
print("First color is : ",f)
print("Last color is : ",l)

First color is :  Red
Last color is :  Black

In [5]:
#Que5
n=int(input("Enter the value  : "))
a=n+n*n+n*n*n
print("answer is : ",a)

Enter the value  : 2
answer is :  14

In [6]:
#Que6
x = str(input("Enter the number: ")).split(",")
print(x)
x = tuple(x)
print(x)

Enter the number: 4
['4']
('4',)

In [7]:
#Que7
Cel=float(input("Enter the temprature in Celsius: "))
F=(1.8)*Cel+32
print("Temprature in Fahrenheit is :  ",F)

Enter the temprature in Celsius: 45
Temprature in Fahrenheit is :   113.0

In [10]:
#Que8
a=int(input("Enter the value of a : "))
b=int(input("Enter the value of b : "))
a=a+b
b=a-b
a=a-b
print("Value of a and b after swapping is : ",a,b)
a+=1
print("Value of a after increment is : ",a)

Enter the value of a : 4
Enter the value of b : 5
Value of a and b after swapping is :  5 4
Value of a after increment is :  6

In [11]:
#Que9
a=int(input("Enter the value of a : "))
if (a%2==0):
    print("number is even")
else:
    print("number is odd")

Enter the value of a : 6
number is even

In [13]:
#Que10
year=int(input("Enter the year : "))
if (year%4==0 and year%100!=0) or (year%400==0):
    print("leap year")
else:
    print("not a leap year")

Enter the year : 2004
leap year

In [14]:
#Que11

x1,y1 = int(input("x1:")), int(input("y1:"))
x2,y2 = int(input("x2:")), int(input("y2:"))
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print(distance)

x1:4
y1:5
x2:7
y2:6
3.1622776601683795

In [15]:
#Que12
a=float(input("Enter the value of fisrt angle: "))
b=float(input("Enter the value of second angle: "))
c=float(input("Enter the value of third angle: "))
if (a+b+c==180):
    print("can make a triangle")
else:
    print("cannot make a triangle")

Enter the value of fisrt angle: 90
Enter the value of second angle: 30
Enter the value of third angle: 60
can make a triangle

In [16]:
#Que13
principal= float(input("Enter the principal: "))
rate= float(input("Enter the annual interest: ")) / 100
time = float(input("Enter the time (in years): "))
n = int(input("Enter the number of times interest is compounded per year: "))

amount = principal * (1 + rate / n) ** (n * time)
interest = amount - principal
print("Compound Interest: ",interest)
print("Total Amount : ",amount)

Enter the principal: 10000
Enter the annual interest: 7
Enter the time (in years): 2
Enter the number of times interest is compounded per year: 12
Compound Interest:  1498.0601750267306
Total Amount :  11498.06017502673

In [17]:
#Que14
n= int(input("Enter a positive integer: "))
if n<= 1:
    print(n," is not a prime number.")
else:

    prime = True


    for i in range(2, int(n**0.5) + 1):
        if n% i == 0:
            prime = False
            break

    if prime:
        print("prime number.")
    else:
        print("not a prime number.")

Enter a positive integer: 7
prime number.

In [18]:
#Que15
n=int(input("Enter a positive integer : "))
answer= n * (n + 1) * (2 * n+ 1) // 6
print("answer: ",answer)

Enter a positive integer : 3
answer:  14